@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="about-page container" style="padding-top:80px; padding-bottom:80px;">
    <!-- Tiêu đề trang -->
    <!--<div class="row mb-5">
        <div class="col text-center">-->
            @*<h1 class="display-4 text-primary">@ViewBag.Title</h1>*@
            <!--<p class="lead">Tìm hiểu về CosmeticsShop – cửa hàng mỹ phẩm uy tín và chất lượng.</p>
        </div>
    </div>-->

    <div class="row">
        <!-- Về chúng tôi & Sứ mệnh -->
        <div class="col-md-6 mb-4">
            <h3 class="mb-3"> CosmeticShop - Cửa hàng mỹ phẩm uy tín và chất lượng</h3>
            <p>
                CosmeticsShop là cửa hàng cung cấp các sản phẩm mỹ phẩm chính hãng, uy tín và chất lượng.
                Chúng tôi cam kết mang đến trải nghiệm mua sắm tốt nhất cho khách hàng, giúp mỗi người tự tin và xinh đẹp hơn.
            </p>

            <h3 class="mt-4 mb-3">Sứ mệnh</h3>
            <p>
                Mang đến sự tự tin và vẻ đẹp tự nhiên cho mọi khách hàng bằng các sản phẩm chất lượng, an toàn.
            </p>
        </div>

        <!-- Liên hệ -->
        <div class="col-md-6 mb-4">
            <h3 class="mb-3">Liên hệ</h3>
            <p>
                <strong>Địa chỉ:</strong> 140 Lê Trọng Tấn, Phường Tây Thạnh, TP. HCM<br>
                <strong>Điện thoại:</strong> <a href="tel:+84123456789" style="color: #337ab7; text-decoration: none;">0346391915</a><br>
                <strong>Email:</strong> <a href="mailto:contact@cosmeticsshop.com" style="color: #337ab7; text-decoration: none;">Cosmeticshop</a><br>
                <strong>Thời gian làm việc:</strong> Thứ 2 - Thứ 7, 8:00 - 18:00
            </p>

            <h5 class="mt-4 mb-2">Theo dõi chúng tôi</h5>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://www.facebook.com/DhCongThuongHCM" target="_blank" style="color:#3b5998; font-size: 1.2rem;">
                        <span class="glyphicon glyphicon-thumbs-up"></span> Facebook
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com" target="_blank" style="color:#e4405f; font-size: 1.2rem;">
                        <span class="glyphicon glyphicon-camera"></span> Instagram
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
